.body {
    height: 973px;
    background-color: #660000;
    .container {
        padding-top: 60px;
        padding-bottom: 60px;
        .clearfix {
            margin: 0 -10px;
            .service-title {
                width: 25%;
                padding: 0 10px;
                float: left;
                .service-wrap {
                    background-color: #fff;
                    height: 304px;
                    position: relative;
                    text-align: center;
                    .square-shape {
                        margin-top: 20px;
                        vertical-align: middle;
                    }
                    .title {
                        font-size: 32px;
                        margin-top: 10px;
                        @include css3-prefix('transition', '0.5s');
                    }
                    .para-text {
                        color: #979797;
                        font-size: 12px;
                        padding-left: 30px;
                        padding-right: 30px;
                        @include css3-prefix('transition', '0.5s');
                    }
                    @include css3-prefix('transition', '0.5s');
                    &:hover {
                        background-color: $light-green;
                        .square-shape {
                            background-color: #fff;
                            color: #000000;
                        }
                        .title {
                            color: #fff;
                        }
                        .para-text{
                            color: #fff;
                        }
                    }
                }

            }
        }
        .lastest-work{
            padding-bottom: 60px;
            padding-top: 87px;
            .lastest-work-title {
                position: relative;
                height: 40px;
                .lastest-work-wrap {
                    border-radius: 10px;
                    padding: 10px 15px;
                    text-align: center;
                    color: #fff;
                    position: absolute;
                    top: 50%;
                    right: 50%;
                    @include css3-prefix('transform','translate(50%, -86%)');
                    background-color: #3c3c3c;
                    h2 {
                        font-size: 32px;
                        margin: 0;
                    }
                }
                .border{
                    border-bottom: solid 3px #3c3c3c;
                    width: 960px;
                }
            }
            .clearfix{
                margin: 0 -15px;
                padding-top: 3px;
                .img-last-work{
                    float: left;
                    padding: 15px 15px;
                    width: 33.3%;
                    position: relative;
                    .img-wrap{
                        border: 5px #fff solid;
                        img {
                            max-width: 100%;
                        }
                        position: relative;
                        .text-bottom {
                            text-align: center;
                            position: absolute;
                            width: 100%;
                            background-color: #151515;
                            bottom: 8%;
                            right: 50%;
                            @include css3-prefix('transform','translate(50%, 50%)');
                            @include css3-prefix('transition', '0.5s');
                            p{
                                color: #fff;
                                max-width: 100%;
                                font-size: 14px;
                                margin-bottom: 0;
                                line-height: 30px;
                            }
                        }
                        @include css3-prefix('transition', '0.5s');
                        &:hover {
                            border-color: $light-green;
                            .text-bottom {
                                opacity: 0;
                            }
                        }
                    }

                }
            }
        }
    }
}



