.slidebar{
  margin-top: 40px;
  .block-text{
    top: 50%;
    transform: translateY(50%);
      .slider-nav{
          //padding-left: 40px;
          .slick-next {
              right: -600px;
          }
          .slick-prev {
              left: -15px;
          }
          .contain-text{
              outline: none;
              margin-left: 50px;
              .title-courousel {
                  color: #ffffff;
                  margin-top: 0;
                  margin-bottom: 20px;
                  font-size: 46px;
              }
              .para-courousel {
                  //TODO style lai
                  color: #979797;
                  font-size: 12px;
                  margin-bottom: 0;
                  width: 400px;
              }
              .btn-courousel{
                  border-radius: 10px;
                  background-color :$light-green;
                  border: none;
                  color: #ffffff;
                  padding: 10px 15px;
                  margin-top: 20px;
              }
          }
      }
  }
  .block-media {
      padding-right: 40px;
    .circle {
      border: #6b6b6b solid 20px;
      border-radius: 50%;
      background-color: #333333;
      width: 430px;
      height: 430px;
      float: right;
      position: relative;
      overflow: hidden;
      .slider-for {
        width: 100%;
        margin-bottom: 0;
        .img {
          text-align: center;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

//TODO style nav slick sider


