.slidebar {
  margin-top: 40px;
  .block-text {
      position: relative;
      z-index: 1;
      @include css3-prefix("transform", translateY(32%));
      .slider-nav {
          padding-left: 50px;
          .slick-next {
              right: -495px;
              width: 15px;
              height: 28px;
              //padding-left: 15px;
          }
          .slick-prev {
              left: -15px;
              width: 15px;
              height: 28px;
          }
          .contain-text{
              outline: none;
              margin-bottom: 0;
              .title-courousel {
                  color: #ffffff;
                  margin-top: 0;
                  margin-bottom: 20px;
                  font-size: 46px;
              }
              .para-courousel {
                  color: #979797;
                  font-size: 12px;
                  margin-bottom: 0;
                  width: 300px;
              }
              .btn-courousel{
                  border-radius: 10px;
                  background-color :$light-green;
                  border: none;
                  color: #ffffff;
                  padding: 10px 15px;
                  margin-top: 20px;
              }
          }
      }
  }
  .block-media {
      padding-right: 65px;
    .circle {
      border: #6b6b6b solid 25px;
      border-radius: 50%;
      background-color: #333333;
      width: 430px;
      height: 430px;
      float: right;
      position: relative;
      overflow: hidden;
      .slider-for {
        width: 100%;
        margin-bottom: 0;
        .img {
          text-align: center;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

//TODO style nav slick sider 2
//TODO xem lai margin



