.contact {
    padding-top: 100px;
    padding-bottom: 80px;
    @include  ip6plus    {
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .container {
        text-align: center;
        .contact-title {
            h1 {
                margin: 0;
            }
            .border {
                margin: 25px auto;
                border-bottom: solid 2px  orange;
                width: 65px;
            }
            p {
                color: #97979b;
                margin-bottom: 0;
            }
        }
        .clearfix {
            margin-bottom: 40px;
            .info {
                background-color: #ffffff;
                padding: 0 30px 30px 30px;
                .input {
                    width: 100%;
                    background-color: #ffffff;
                    border: transparent;
                    outline: none;
                    //padding: 40px 33px;
                    padding-top: 35px;
                    padding-bottom: 5px;
                    border-bottom: 1px solid #d6d6d6;
                    @include placeholder {
                        color: #d6d6d6;
                    }
                }
            }
            .message {
                padding-left: 30px;
                textarea {
                    padding-top: 35px;
                    height: 189px;
                    width: 100%;
                    max-width: 100%;
                    background-color: #ffffff;
                    border: transparent;
                    outline: none;
                    border-bottom: 1px solid  #d6d6d6;
                    resize: none;
                    @include placeholder {
                        color: #d6d6d6;
                    }
                }
            }
        }
        button {
            background: #ff8b38;
            color: #ffffff;
            padding: 10px 30px;
            @include css3-prefix('transition',0.5s);
            &:hover {
                color: #000000;
                //background-color: #ffffff;
            }
        }
    }
}
