.footer {
    background-color: #000000;
    position: relative;
    height: 83px;
    .footer-wrap {
        position: absolute;
        right: 50%;
        top: 50%;
        @include css3-prefix('transform', 'translate(50%, -50%)');

        p {
            margin-bottom: 0;
            margin-top: 10px;
            text-align: center;
        }
    }
}
