.standard-picture {
    background-color: #f5f5f5;
    padding: 80px 0;
    @include ip6plus {
        padding: 80px 0;
    }
    .container {
        .clearfix {
            .standard-picture-content {
                padding-right: 50px;
                padding-top: 25px;
                h3 {
                    margin: 0;
                    font-size: 20px;
                    font-family: OpenSans-Bold, sans-serif;
                    font-weight: bold;
                }
                .border {
                    margin: 25px 0;
                    border-bottom: solid 2px orange;
                    width: 65px;
                }
                p {
                    font-size: 14px;
                    color: #a6a7a9;
                }
                .paragraph-bottom {
                    margin-top: 25px;
                }
                @include ip6plus {
                    padding: 0;
                }
            }
            .standard-img {
                max-width: 100%;
                @include  ip6plus {
                    padding: 0;
                }
            }

        }
    }

}
