.sub-list {
    @include bp-ip6-plus {
        padding-bottom: 40px;
    }
    @include bp-ip6 {
        padding-bottom: 40px;
    }
    @include bp-ip4 {
        padding-bottom: 40px;
    }

    .container {
        .sub-list-img {
            padding: 100px 0;
            max-width: 100%;
            //@include bp-ip6-plus {
            //    padding: 40px 0;
            //}
            //@include bp-ip6 {
            //    padding: 40px 0;
            //}
            //@include bp-ip4 {
            //    padding: 40px 0;
            //}

        }
        .sub-list-content {
            padding: 100px 0 130px 170px;
            h3 {
                font-size: 20px;
                margin: 0;
            }
            .border {
                margin: 25px 0;
                border-bottom: solid 2px orange;
                width: 65px;
            }
            p {
                font-size: 14px;
                color: #c8c8ca;
                margin-bottom: 45px;
            }
            .paragraph-edit {
                margin-bottom: 0;
            }
            .sub-list-title {
                img {
                    float: left;
                    margin-right: 30px;
                }
                .wrap-title {
                    overflow: hidden;
                }
            }
            //@include bp-ip6-plus {
            //    padding-left: 0;
            //    padding-top: 40px;
            //}
            //@include bp-ip6 {
            //    padding-left: 0;
            //    padding-top: 40px;
            //}
            //@include bp-ip4 {
            //    padding-left: 0;
            //    padding-top: 40px;
            //}
        }

    }
}
