.sub-list {
    @include ip6plus {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .container {
        .sub-list-img {
            padding: 100px 0;
            max-width: 100%;
            @include ip6plus {
                padding: 0 0 40px 0;
            }
        }
        .sub-list-content {
            padding: 100px 0 130px 170px;
            @include ipadpro {
                padding-left: 40px;
            }
            @include ip6plus {
                padding: 0;
            }
            h3 {
                font-size: 20px;
                margin: 0;
            }
            .border {
                margin: 25px 0;
                border-bottom: solid 2px orange;
                width: 65px;
            }
            p {
                font-size: 14px;
                color: #c8c8ca;
                margin-bottom: 45px;
            }
            .paragraph-edit {
                margin-bottom: 0;
            }
            .sub-list-title {
                img {
                    float: left;
                    margin-right: 30px;
                }
                .wrap-title {
                    overflow: hidden;
                }
            }
        }
    }
}
