.header {
  background-color: #290000;
  height: 600px;
  border-top: solid 5px $light-green;
  .menu-bar {
    padding-top: 48px;
    .menu {
      float: right;
      li {
        a {
          padding: 8px 15px;
          margin-right: 10px;
          font-size: 13px;
          color: #ffffff;
          @include css3-prefix(transition, .5s);
          border-radius: 10px;
          &:hover {
            background-color: $light-green;
          }
          &:focus {
            background-color: transparent;
          }
        }
        .active {
          background-color: $light-green;
          border-radius: 10px;
        }
      }
    }
  }
}
