.slidebar{
    .block-text{
        top: 50%;
        transform: translateY(50%);
        .contain-text{
            .title-courousel {
                color: #ffffff;
                margin: 20px 0;

                font-size: 46px;
            }
            .para-courousel {
                color: #979797;
                font-size: 12px;
                margin-bottom: 0;
            }
            .btn-courousel{
                border-radius: 10px;
                background-color :$light-green;
                border: none;
                color: #ffffff;
                padding: 10px 15px;
                margin-top: 20px;
            }
        }
    }
    .block-media {
        margin-top: 50px;
        .circle {
            border: #6b6b6b solid 20px;
            border-radius: 50%;
            background-color: #333333;
            width: 380px;
            height: 380px;
            float: right;
            position: relative;
            .slider-nav {
                width: 100%;
                position: absolute;
                top: 50%;
                @include css3-prefix('transform', 'translate(50%,50%)');
                .slick-next {
                    right: 115px;
                }
                .slick-prev {
                    left: -951px;
                }
            }
        }
    }
}


