.discography {
    position: relative;
    background: url("../img/background-discography.png") no-repeat center bottom;
    padding-bottom: 340px;
    .container {
        h2 {
            color: #99694f;
        }
        .txt-discography {
            text-align: center;
            margin: 0 240px 155px 240px;
            color: #798285;
            letter-spacing: 1.8px;

        }
        .clearfix {
            margin-bottom: 108px;
            .col-left {
                p {
                    margin-bottom: 8px;
                    font-weight: 700;
                    padding-top: 15px;
                }
                .border {
                    border: 1px solid;
                    margin: 0;
                }
                .hell {
                    margin-top: 8px;
                    font-weight: 700;
                    padding: 0;
                }
            }
            .col-right {
                h3 {
                    font-size: 23px;
                    margin-bottom: 15px;
                    margin-top: 0;
                }
                p {
                    color: #acacac;
                    margin-bottom: 30px;
                    margin-top: 0;
                }
                &:last-child {
                    p {
                        margin-bottom: 90px;
                    }
                }
                .wrap-play-img {
                    background: url("../img/play-img-orginal.png") no-repeat;
                    height: 56px;
                    width: 197px;
                    //margin-right: 373px;
                    position: relative;
                    .play-img {
                        color: #000000;
                        text-decoration: none;
                        position: absolute;
                        right: 50%;
                        top: 50%;
                        @include css3-prefix("transform", "translate(50%,-50%)");

                    }
                    @include css3-prefix("transition", .5s);
                    &:hover {
                        background: url("../img/play-img-hover.png") no-repeat;
                        .play-img {
                            color: #ffffff;
                        }
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .background-discography {
        position: absolute;
        top: 87%;
        z-index: -1;
        max-width: 100%;
    }
}
