.new {
    margin-top: 165px;
    .container {
        .row {
            margin-bottom: 30px;
            height: 462px;
            .background-img-1 {
                .wrap-col-1 {
                    height: 462px;
                    background: url("../img/new_img_01.png") no-repeat center;
                    background-size: cover;
                    padding: 0 35px;
                    .wrap-title-new {
                        height: 201px;
                        p {
                            margin-bottom: 8px;
                            font-weight: 700;
                            padding-top: 15px;
                        }
                        .border {
                            border: 1px solid;
                            margin: 0;
                        }
                        .hell {
                            margin-top: 8px;
                            font-weight: 700;
                            padding: 0;
                            margin-bottom: 38px;
                            color: #ffffff;
                        }
                        .size-title {
                            font-size: 23px;
                        }
                    }

                    .paragraph_new {
                        color: #798285;
                        font-weight: 400;
                        //padding-bottom: 53px;
                        line-height: 1.75;
                        margin-bottom: 0;
                    }
                }


            }
            .background-img-2 {
                .wrap-col-2 {
                    height: 462px;
                    background: url("../img/new_img_02.png") no-repeat center;
                    background-size: cover;
                    padding: 0 35px;
                    .wrap-title-new {
                        height: 201px;
                        p {
                            margin-bottom: 8px;
                            font-weight: 700;
                            padding-top: 15px;
                        }
                        .border {
                            border: 1px solid;
                            margin: 0;
                        }
                        .hell {
                            margin-top: 8px;
                            font-weight: 700;
                            padding: 0;
                            color: #ffffff;
                            margin-bottom: 38px;
                        }
                    }
                    .paragraph_new {
                        color: #798285;
                        font-weight: 400;
                        //padding-bottom: 101px;
                        line-height: 1.75;
                        margin-bottom: 0;
                    }
                }

            }
            .background-img-3 {
                .wrap-col-3 {
                    height: 462px;
                    background: url("../img/new_img_03.png") no-repeat center;
                    background-size: cover;
                    padding: 0 35px;
                    .wrap-title-new {
                        height: 201px;
                        p {
                            margin-bottom: 8px;
                            font-weight: 700;
                            padding-top: 15px;
                        }
                        .border {
                            border: 1px solid;
                            margin: 0;
                        }
                        .hell {
                            margin-top: 8px;
                            font-weight: 700;
                            padding: 0;
                            margin-bottom: 38px;
                            color: #ffffff;
                            font-size: 13px;
                        }
                    }
                    .paragraph_new {
                        color: #798285;
                        font-weight: 400;
                        //padding-bottom: 149px;
                        line-height: 1.75;
                        margin-bottom: 0;
                    }
                }


            }

        }
        .row {
            .background-img-4 {
                .wrap-col-4 {
                    height: 462px;
                    background: url("../img/new_img_04.png")no-repeat center;
                    background-size: cover;
                    padding: 0 35px;
                    .wrap-title-new {
                        height: 201px;
                        p {
                            margin-bottom: 8px;
                            font-weight: 700;
                            padding-top: 15px;
                        }
                        .border {
                            border: 1px solid;
                            margin: 0;
                        }
                        .hell {
                            margin-top: 8px;
                            font-weight: 700;
                            padding: 0;
                            margin-bottom: 38px;
                            color: #ffffff;
                            font-size: 13px;
                        }
                    }
                    .paragraph_new {
                        color: #798285;
                        font-weight: 400;
                        //padding-bottom: 125px;
                        line-height: 1.75;
                        margin-bottom: 0;
                    }
                }
            }
            .background-img-5 {
                .wrap-col-5 {
                    height: 462px;
                    background: url("../img/new_img_05.png") no-repeat center;
                    background-size: cover;
                    padding: 0 35px;
                    .wrap-title-new {
                        height: 201px;
                        p {
                            margin-bottom: 8px;
                            font-weight: 700;
                            padding-top: 15px;
                        }
                        .border {
                            border: 1px solid;
                            margin: 0;
                        }
                        .hell {
                            margin-top: 8px;
                            font-weight: 700;
                            padding: 0;
                            margin-bottom: 38px;
                            color: #ffffff;
                            font-size: 13px;
                        }
                    }
                    .paragraph_new {
                        color: #798285;
                        font-weight: 400;
                        //padding-bottom: 53px;
                        line-height: 1.75;
                        margin-bottom: 0;
                    }
                }
            }
            .background-img-6 {
                .wrap-col-6 {
                    height: 462px;
                    background: url("../img/new_img_06.png") no-repeat center;
                    background-size: cover;
                    padding: 0 35px;
                    .wrap-title-new {
                        height: 201px;
                        p {
                            margin-bottom: 8px;
                            font-weight: 700;
                            padding-top: 15px;
                        }
                        .border {
                            border: 1px solid;
                            margin: 0;
                        }
                        .hell {
                            margin-top: 8px;
                            font-weight: 700;
                            padding: 0;
                            margin-bottom: 38px;
                            color: #ffffff;
                            font-size: 13px;
                        }
                    }
                    .paragraph_new {
                        color: #798285;
                        font-weight: 400;
                        //padding-bottom: 197px;
                        line-height: 1.75;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

}
