@import "font-awesome";

html, body {
  font-size: 14px;
    font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
    h1 {
        font-family: Raleway, sans-serif;
    }
    h3 {
        font-family: OpenSans-Bold, sans-serif;
    }
  @media #{$info-tablet-big} {
    font-size: 15px;
  }
  @media #{$info-tablet} {
    font-size: 14px;
  }
  @media #{$info-phone} {
    font-size: 12px;
  }
}

